{% extends 'base.html' %}
{% block content %}

    <h1 align="center">ITEM EDIT PAGE</h1>
    <div class="item-edit-container container border border-dark rounded box ">
        <form method="post" action="{% url 'item edit' pk=current_item.pk%}" enctype="multipart/form-data"> {#  #}
            <div class="">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-edit" type="submit">Edit</button>
                </div>
            </div>
        </form>


    </div>

{% endblock %}